{# app/Resources/views/baseGesCam.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="icon" type="image/x-icon" href="{{ asset('icotype.png') }}" />

    <title>{% block title %}GesCam{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        {% stylesheets 'bundles/pbtransport/css/PBCamion.css' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}      
    {% endblock %}
  </head>

  <body>

  <div class="container">
    {% block navbar %}
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span> 
            </button>
            <a class="navbar-brand" href="#">Dushow Toulouse</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{{ path('pb_camion_homepage') }}">LISTE</a></li>
              <li><a href="{{ path('pb_camion_addcamion') }}">AJ. LOCATION</a></li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">AJOUT
                </a>
                <div class="dropdown-menu" aria-labelledby="Preview">
                  <a class="dropdown-item" href="{{ path('pb_camion_addloueur') }}">Loueur</a></br>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">EDIT
                </a>
                <div class="dropdown-menu" aria-labelledby="Preview">
                  <a class="dropdown-item" href="{{ path('pb_camion_indexloueur') }}">Loueurs</a></br>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">APP
                </a>
                <div class="dropdown-menu" aria-labelledby="Preview">
                  <a class="dropdown-item" href="{{ path('pb_transport_homepage') }}">GesTrans</a></br>
                  <a class="dropdown-item" href="{{ path('pb_camion_homepage') }}">GesCam</a></br>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    {% endblock %}
    
    {% block header %}
      <div id="header" class="jumbotron">
        <h1>Gestion des transports Externes</h1>
      </div>
    {% endblock %}

    {% block body %}
    {% endblock %}

    <footer>

        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
          Connecté en tant que {{ app.user.username|title }}
          -
          <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
        {% else %}
            <a href="{{ path('fos_user_security_login') }}">Connexion</a>
        {% endif %}

      <p>Dushow Toulouse Transport © {{ 'now'|date('Y') }} and beyond.</p>

    </footer>
  </div>

  {% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript">

        function CloseWindow() {
            var obj_window = window.open('', '_self');
            obj_window.opener = window;
            obj_window.focus();
            opener=self;
            self.close();
        }


    </script>
  {% endblock %}

  </body>
</html>
