{% extends "PBCamionBundle::layout.html.twig" %}

{% block title %}

    Ajout - {{ parent() }}

{% endblock %}

{% block header %}
    <div id="header" class="well text-center">
        <h1>DETAILS DU LOUEUR "{{ loueur.nom|upper }}"</h1>
    </div>
{% endblock %}

{% block pbcamion_body %}

    <div class="row">
        <div>
            <h3>Aperçu du loueur : {{ loueur.nom }}</h3>
        </div>
    </div>

    <div class="row">
        <div class="well col-sm-3">
            <ul class="list-group">
                <li class="list-group-item text-right">Adresse : </li>
                <li class="list-group-item text-right">Complément d'adresse :</li>
                <li class="list-group-item text-right">Code Postal :</li>
                <li class="list-group-item text-right">Ville :</li>
                <li class="list-group-item text-right">Numéro de téléphone :</li>
                <li class="list-group-item text-right">Email :</li>
            </ul>
        </div>
        <div class="well col-sm-9">
            <ul class="list-group">
                <li class="list-group-item">{% if loueur.adresse is not empty %}{{ loueur.adresse }}{% else %}TBD{% endif %}</li>
                <li class="list-group-item">{% if loueur.adresse2 is not empty %}{{ loueur.adresse2 }}{% else %}TBD{% endif %}</li>
                <li class="list-group-item">{% if loueur.cp is not empty %}{{ loueur.cp }}{% else %}TBD{% endif %}</li>
                <li class="list-group-item">{% if loueur.ville is not empty %}{{ loueur.ville }}{% else %}TBD{% endif %}</li>
                <li class="list-group-item">{% if loueur.tel is not empty %}{{ loueur.tel }}{% else %}TBD{% endif %}</li>
                <li class="list-group-item">{% if loueur.email is not empty %}{{ loueur.email }}{% else %}<span class="text-danger">TBD</span>{% endif %}</li>
            </ul>
        </div>
    </div>



    <div class="row">
        <p>
            <a href="{{ path('pb_camion_indexloueur') }}" class="btn btn-default">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Retour à la liste
            </a>
            <a href="{{ path('pb_camion_editloueur', {'id': loueur.id}) }}" class="btn btn-default">
                <i class="glyphicon glyphicon-edit"></i>
                Modifier le loueur
            </a>
            <a href="{{ path('pb_camion_deleteloueur', {'id': loueur.id}) }}" class="btn btn-danger" onclick="return confirm('ATTENTION : êtes vous certain de vouloir supprimer ce loueur ? Cette action est irréversible.');">
                <i class="glyphicon glyphicon-trash"></i>
                Supprimer le loueur
            </a>
        </p>
    </div>

{% endblock %}