{% extends "PBCamionBundle::layout.html.twig" %}

{% block title %}

    Accueil - {{ parent() }}

{% endblock %}

{% block header %}
    <div id="header" class="well text-center">
        <h1>LISTE DES LOCATIONS DE CAMIONS</h1>
    </div>
{% endblock %}

{% block pbcamion_body %}


    <table class="table table-hover">
        <tr>
            <th>Num. Loc.</th>
            <th>Loueur</th>
            <th>Pris le</th>
            <th>Rendu le</th>
            <th>Véhicule</th>
            <th>Avec hayon</th>
            <th>Opération</th>
            <th>RMK</th>
            {#<th>{{ knp_pagination_sortable(listTransports, 'Transporteur', 'tr.nom') }}</th>#}
        </tr>

        {% for camion in listeCamions %}
            <tr {% if not null == camion.effectue and camion.effectue == true %}class="warning italic"{% elseif not null == camion.annule and camion.annule == true %}class="danger italic"{% elseif not null == camion.factureRecue and camion.factureRecue == true %}class="success italic"{% endif %}>
                <td><a href="{{ path ('pb_camion_viewcamion', {'id': camion.id}) }}">{{ camion.number }}{{ camion.id }}</a></td>
                <td>{{ camion.loueur.nom }}</td>
                <td>{{ camion.dateEnlevement|date('d/m/Y') }}</td>
                <td>{{ camion.dateRetour|date('d/m/Y') }}</td>
                <td>{{ camion.vehicule.vehicule }}</td>
                <td>{% if camion.avecHayon == true %}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}</td>
                <td>{{ camion.operation }}</td>
                <td>{% if camion.remarque|default  %}<span class="glyphicon glyphicon-ok"></span>
                    {% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}</td>
            </tr>

        {% else %}
            <td>Pas (encore !) de demande</td>

        {% endfor %}
    </table>

    <div class="navigation">
        {{ knp_pagination_render(listeCamions) }}
    </div>

    {#<div>
        <span class="label label-success">Transport avec facture</span><span class="label label-warning">Transport effectué</span><span class="label label-danger">Transport annulé</span>
    </div>#}
{% endblock %}