{% extends "PBCamionBundle::layout.html.twig" %}

{% block title %}

    Ajout - {{ parent() }}

{% endblock %}

{% block header %}
    <div id="header" class="well text-center">
        <h1>DETAIL DE LA LOCATION N°{{ camion.number }}{{ camion.id }}</h1>
    </div>
{% endblock %}

{% block pbcamion_body %}

    <div class="row">
        <div class="well col-sm-4">
            <h3>Location n°{{ camion.number }}{{ camion.id }}</h3>
            <i>Créée le {{ camion.dateCreation|date('d/m/Y') }} par {{ camion.creePar|title }}</i>

            <h4>Loueur</h4>
            {{ camion.loueur.nom }}
            <h4>Opération/ référence</h4>
            {{ camion.operation }}
        </div>

        <div class="well col-sm-8">
            <ul class="list-group">
                {% if not null == camion.annule and camion.annule == true %}<li class="list-group-item attention">ATTENTION : CETTE LOCATION A ÉTÉ ANNULÉE !
                </li>{% endif %}
                {% if not null == camion.effectue and camion.effectue == true %}<li class="list-group-item effectue"><span class="glyphicon glyphicon-ok-circle"></span> Location effectuée</li>{% endif %}
                {% if not null == camion.factureRecue and camion.factureRecue == true %}
                    <li class="list-group-item text-success"><span class="glyphicon glyphicon-ok-circle"></span>
                    Location facturée (facture n°<a href="{{ path ('pb_camion_viewfacture', {'id': camion.facture.id}) }}">
                        {{ camion.facture.numerofacture }}</a> du {{ camion.facture.datefacture|date('d/m/Y') }})</li>{% endif %}
                <li class="list-group-item">Véhicule demandé : {{ camion.vehicule.vehicule }}{% if camion.avecHayon == true %} avec hayon{% endif %}</li>
                <li class="list-group-item">Enlèvement le {{ camion.dateEnlevement|date('d/m/Y') }} à {{ camion.heureEnlevement|date('H:i') }}</li>
                <li class="list-group-item">Retour le {{ camion.dateRetour|date('d/m/Y') }} à {{ camion.heureRetour|date('H:i') }}</li>
                <li class="list-group-item">{{ camion.nbJoursExploit }} jour{% if camion.nbJoursExploit > 1 %}s{% endif %} d'exploitation</li>
                {% if not null == camion.remarque %}<li class="list-group-item remarque">Remarque / Impératif : {{ camion.remarque }}
                    </li>{% endif %}
                {#{% if not null == camion.montantfacture and camion.facturerecue == true %}
                    <li class="list-group-item">Coût de la location : {{ camion.montantfacture }} (facture n°<a href="{{ path ('pb_camion_viewfacture', {'id': camion.facture.id })}}">{{ camion.facture.numerofacture }}</a>)</li>
                {% endif %}#}

            </ul>
        </div>

    </div>
    <div class="row">
        <p>
            <a href="{{ path('pb_camion_homepage') }}" class="btn btn-default">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Retour à la liste
            </a>
            <a href="{{ path('pb_camion_editcamion', {'id': camion.id}) }}" class="btn btn-default">
                <i class="glyphicon glyphicon-edit"></i>
                Modifier la location
            </a>
            <a href="{{ path('pb_camion_deletecamion', {'id': camion.id}) }}" class="btn btn-danger" onclick="return confirm('ATTENTION : êtes vous certain de vouloir supprimer cette location ? Cette action est irrévocable.');">
                <i class="glyphicon glyphicon-trash"></i>
                Supprimer la demande
            </a>
        </p>
        <p>
            <a href="{{ path('pb_camion_viewmail', {'id' :camion.id}) }}" class="btn btn-success">
                <i class="glyphicon glyphicon-envelope"></i>
                {% if not null == camion.mailSent and camion.mailSent == true %}Re{% else %}E{% endif %}nvoyer le mail de demande au loueur

                {% if not null == camion.mailSent %}<br><span class=" text-info small"> (mail déjà envoyé le {{ camion.mailSentDate|date('d/m/Y à H:i') }})</span>{% endif %}</a>
        </p>
    </div>

{% endblock %}