{# src/OC/PlatformBundle/Resources/views/Transport/addTransport.html.twig #}

{% extends "PBTransportBundle::layout.html.twig" %}

{% block header %}
      <div id="header" class="well">
        <h1><center>Ajout de contact</center></h1>
      </div>
    {% endblock %}

{% block body %}

  <h2>Ajout Contact</h2>

  {{ form_start(form) }}
	  {{ form_row(form.nom) }}
	  {{ form_row(form.prenom) }}
	  {{ form_row(form.phone) }}
	  {{ form_row(form.save) }}
  {{ form_end(form) }}


{% endblock %}
