{# src/OC/PlatformBundle/Resources/views/Transport/addTransport.html.twig #}

{% extends "PBTransportBundle::layout.html.twig" %}

{% block header %}
      <div id="header" class="well">
        <h1><center>Ajout de Transport</center></h1>
      </div>
    {% endblock %}

{% block pbtransport_body %}

    <p class="h3">Phase 1 : informations générales</p>
	<div class="well">
        {{ form_start(form) }}
            {{ form_row(form.typeTr) }}
            {{ form_row(form.transporteur) }}
            {{ form_row(form.operation) }}
            {{ form_row(form.adresseFrom) }}
            {{ form_row(form.adresseTo) }}
            {{ form_row(form.dateenlevement) }}
            {{ form_row(form.datelivraison) }}
            {{ form_row(form.save) }}
        {{ form_end(form) }}
    </div>

	{% endblock %}
