{% extends "PBTransportBundle::layout.html.twig" %}

{% block title %}

Accueil - {{ parent() }}

{% endblock %}

{% block header %}
	<br>
		<div id="header" class="card text-center">
			  <h2>LISTE DES TRANSPORTS</h2>
		</div>
	<br>
{% endblock %}

{% block pbtransport_body %}


	<table class="table table-hover table-sm">

		<thead class="thead-default">
			<tr>
				{#<th>Numéro d'ordre</th>#}
				<th>{{ knp_pagination_sortable(listTransports, 'Numéro', 't.id') }}</th>
				<th>C/T</th>
				<th>{{ knp_pagination_sortable(listTransports, 'Transporteur', 'tr.nom') }}</th>
				<th>{{ knp_pagination_sortable(listTransports, 'Pickup', 't.dateenlevement') }}</th>
				<th>De</th>
				<th>À</th>
				<th>{{ knp_pagination_sortable(listTransports, 'Deivery.', 't.datelivraison') }}</th>
				<th>Opération</th>
				<th>RMK</th>
			</tr>
		</thead>



		{% for transport in listTransports %}
			<tr {% if transport.facturerecue == true %}class="alert-success italic"
				{% elseif transport.annule == true %}class="alert-danger italic"
				{% elseif transport.effectue == true %}class="alert-warning italic"{% endif %}>
				<td>
					<a href="{{ path ('pb_transport_viewtransport', {'id': transport.id}) }}" class="d-sm-flex flex-wrap">
						{{ transport.number }}{{ transport.id }}
					</a>
				</td>
				<td>{% if transport.typeTr.type == "Course" %}C{% elseif transport.typeTr.type == "Transport" %}T{% else %}NA{% endif %}
				<td>{{ transport.transporteur.nom }}</td>
				<td>{{ transport.dateenlevement|date('d/m/Y') }}{% if transport.typeTr.type == "Course" %} à {{ transport.heureenlevement|date('H:i') }}{% endif %}</td>
				<td>{{ transport.adresseFrom.societe }}</td>
				<td>{{ transport.adresseTo.societe }}</td>
				<td>{{ transport.datelivraison|date('d/m/Y') }}{% if transport.typeTr.type == "Course" %} à {{ transport.heurelivraison|date('H:i') }}{% endif %}</td>
				{% if not null == transport.operation %}<td>{{ transport.operation }}</td>{% endif %}
				<td>{% if transport.remarque|default  %}<i class="fa fa-check-circle-o" aria-hidden="true"></i>
                    {% else %}<i class="fa fa-circle-o" aria-hidden="true"></i>{% endif %}</td>
			</tr>

		{% else %}
      		<td>Pas (encore !) de transport</td>

		{% endfor %}
	</table>

    <div class="navigation">
		{{ knp_pagination_render(listTransports) }}
	</div>

	<div class="d-inline-block alert-success">Transport avec facture</div>
	<div class="d-inline-block alert-warning">Transport effectué</div>
	<div class="d-inline-block alert-danger">Transport annulé</div>
{% endblock %}