{% extends "PBTransportBundle::layout.html.twig" %}

{% block title %}

Accueil - {{ parent() }}

{% endblock %}

{% block header %}
      <div id="header" class="well text-center">
		  <h1>LISTE DES TRANSPORTS</h1>
      </div>
{% endblock %}

{% block pbtransport_body %}


	<table class="table table-hover">
		<tr>
			<th>Num Transport</th>
			<th>C/T</th>
			<th>{{ knp_pagination_sortable(listTransports, 'Transporteur', 'tr.nom') }}</th>
			<th>{{ knp_pagination_sortable(listTransports, 'Date Enl.', 't.dateenlevement') }}</th>
			<th>De</th>
			<th>À</th>
			<th>{{ knp_pagination_sortable(listTransports, 'Date Liv.', 't.datelivraison') }}</th>
			<th>Opération</th>
			<th>RMK</th>
		</tr>

		{% for transport in listTransports %}
			<tr {% if not null == transport.effectue and transport.effectue == true %}class="warning italic"{% elseif not null == transport.annule and transport.annule == true %}class="danger italic"{% elseif not null == transport.facturerecue and transport.facturerecue == true %}class="success italic"{% endif %}>
				<td>
					<a href="{{ path ('pb_transport_viewtransport', {'id': transport.id}) }}">
						{{ transport.number }}{{ transport.id }}
					</a>
				</td>
				<td>{% if transport.typeTr.type == "Course" %}C{% elseif transport.typeTr.type == "Transport" %}T{% else %}NA{% endif %}
				<td>{{ transport.transporteur.nom }}</td>
				<td>{{ transport.dateenlevement|date('d/m/Y') }}{% if transport.typeTr.type == "Course" %} à {{ transport.heureenlevement|date('H:i') }}{% endif %}</td>
				<td>{{ transport.adresseFrom.societe }}</td>
				<td>{{ transport.adresseTo.societe }}</td>
				<td>{{ transport.datelivraison|date('d/m/Y') }}{% if transport.typeTr.type == "Course" %} à {{ transport.heurelivraison|date('H:i') }}{% endif %}</td>
				{% if not null == transport.operation %}<td>{{ transport.operation }}</td>{% endif %}
				<td>{% if transport.remarque|default  %}<span class="glyphicon glyphicon-ok"></span>
                    {% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}</td>
			</tr>

		{% else %}
      		<td>Pas (encore !) de transport</td>

		{% endfor %}
	</table>

    <div class="navigation">
		{{ knp_pagination_render(listTransports) }}
	</div>

	<div>
		<span class="label label-success">Transport avec facture</span><span class="label label-warning">Transport effectué</span><span class="label label-danger">Transport annulé</span>
	</div>
{% endblock %}