{% extends "PBTransportBundle::layout.html.twig" %}

{% block title %}

Accueil - {{ parent() }}

{% endblock %}

{% block header %}
      <div id="header" class="well h2 text-center">
        Facture n°{{ facture.numerofacture }}
      </div>
{% endblock %}

{% block pbtransport_body %}

	<ul class=list-group">
	<li class="list-group-item"><span class="h5">Date Facture :</span> {{ facture.datefacture|date('d/m/Y') }}</li>
	<li class="list-group-item"><span class="h5">Transporteur :</span> {{ facture.transporteur.nom }}
			</li>
	<li class="list-group-item"><span class="h5">Montant :</span> {{ facture.montantfacture }} €HT</li>
	{% if not null == transports %}
		<li class="list-group-item"><span class="h5">Transports impactés :</span>
		<ul class="list-group">
			{% for transport in transports %}
				<li class="list-group-item"><a href="{{ path ('pb_transport_viewtransport', {'id': transport.id}) }}">{{ transport.number }}{{ transport.id }}</a></li>
			{% endfor %}
		</ul>
		</li>
	{% endif %}
	</ul>

	<div class="row">
		<p>
			<a href="{{ path('pb_transport_viewfactures') }}" class="btn btn-default">
				<i class="glyphicon glyphicon-chevron-left"></i>
				Retour à la liste
			</a>
			<a href="{{ path('pb_transport_editfacture', {'id': facture.id}) }}" class="btn btn-default">
				<i class="glyphicon glyphicon-edit"></i>
				Modifier la facture
			</a>
			<a href="{{ path('pb_transport_deletefacture', {'id': facture.id}) }}" class="btn btn-danger" onclick="return confirm('ATTENTION : êtes vous certain de vouloir supprimer ce transport ? Cette action est irrévocable.');">
				<i class="glyphicon glyphicon-trash"></i>
				Supprimer la facture
			</a>
		</p>
	</div>


{% endblock %}
